body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: rgb(241, 241, 241) !important;
}

body a {
  color: black;
  text-decoration: none;
}

body a:hover {
  color: #555454;
}

/* Header */
header {
  background-color: #008d4c !important;
}

.bg-header {
  background-color: #008d4c;
}

#logo {
  height: 113px;
}

.nama p {
  margin-bottom: 0;
  font-size: 1.7rem;
}

.judul {
  color: #fbbc05;
}

.deskripsi {
  color: white;
}
/* Akhir Header */

/* Navbar */
.bg-nav {
  background-color: #055e35;
}

.navBar {
  font-size: 1vmax;
  width: 100%;
}

.navBar ul li {
  padding: 0 2px;
}

.menu {
  background-color: #008d4c !important;
  color: white !important;
  padding: 0 !important;
}

.menu li {
  padding: 0 !important;
}
.menu li a:hover {
  background: #055e35 !important;
  color: white !important;
}

.menu li a {
  color: white;
}
/* Akhir Navbar */

/* Slider */

.slider {
  height: 505px;
  width: 1440px;
}

.visi {
  height: 90px;
}

/* Akhir Slider */

/* Content */

.text-judul {
  font-weight: bold;
  border-bottom: 6px solid #fbbc05;
  border-radius: 5px;
  padding-bottom: 5px;
  margin-bottom: 1rem;
}

.text-judul:after {
  content: "";
  width: 10%;
  border-bottom: 6px solid #055e35;
  padding-bottom: 5px;
  border-radius: 10px;
  position: absolute;
  display: block;
}

/* Akhir Content */

/* Footer */
footer {
  background-color: #008d4c;
  color: white;
}

.copyright {
  background-color: #055e35 !important;
}
/* Akkhir Footer */

/* Return to Top */
#return-to-top {
  bottom: 15px;
  right: 15px;
  position: fixed;
  z-index: 96999;
  background-color: #fbbc05;
  width: 30px;
  height: 30px;
  display: inline;
}

#return-to-top i {
  margin: 0;
  position: relative;
  left: 9px;
  top: 5px;
}
/* End Return to Top */

/* Responsive */

/* Tablet */
@media screen and (max-width: 877px) {
  #smk-bisa {
    display: none;
  }

  #search {
    display: none !important;
  }
}

/* Handphone */
@media screen and (max-width: 576px) {
  #logo {
    height: 80px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: none;
    position: relative;
  }
  .slider {
    height: auto;
  }

  .nama {
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: none;
    padding: 0.3em;
  }

  .navBar {
    font-size: 1rem;
  }

  .nama p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 375px) {
  #logo {
    height: 70px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: none;
    position: relative;
  }

  .nama p {
    font-size: 0.93rem;
  }

  .navBar {
    font-size: 0.9rem;
  }

  .dropdown-menu ul li {
    font-size: 0.9rem;
  }
}
