* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

header {
  background-color: #008d4c;
}

.bg-header {
  background-color: #008d4c;
}

#logo {
  height: 113px;
}



.nama p {
  margin-bottom: 0;
  font-size: 1.6rem;
}

.judul {
  color: #fbbc05;
}

.bg-nav {
  background-color: #055e35;
}

.navBar {
  font-size: 1vmax;
  width: 100%;
}
.navBar ul li {
  padding: 0 2px;
}

.slider {
  height: 505px;
  width: 1440px;
}

.visi {
  height: 90px;
}

/* Responsive */

/* Tablet */
@media screen and (max-width: 880px) {
  #smk-bisa {
    display: none;
  }
}

/* Handphone */
@media screen and (max-width: 576px) {
  #logo {
    height: 80px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: none;
    position: relative;
  }
  .slider {
    height: auto;
  }

  .nama {
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: none;
    font-size: 1rem;
    padding: 0.3em;
  }
}
